
.imageCard {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.imageCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.imageDetails {
  padding: 10px;
}

.imageDetails p {
  margin: 0 0 5px;
}
